@import "tw-animate-css"; /* If you're using animations plugin */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #0891b2;

  --card: #f9fafb;
  --card-foreground: #4b5563;

  --popover: #ffffff;
  --popover-foreground: #4b5563;

  --primary: #0891b2;
  --primary-foreground: #ffffff;

  --secondary: #6b7280;
  --secondary-foreground: #ffffff;

  --muted: #f9fafb;
  --muted-foreground: #4b5563;

  --accent: #8b5cf6;
  --accent-foreground: #ffffff;

  --destructive: #e53e3e;
  --destructive-foreground: #ffffff;

  --border: #e5e7eb;
  --input: #f9fafb;
  --ring: #0891b2;

  --radius: 0.5rem;

  --sidebar: #ffffff;
  --sidebar-foreground: #4b5563;
  --sidebar-primary: #f9fafb;
  --sidebar-primary-foreground: #4b5563;
  --sidebar-accent: #8b5cf6;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #0891b2;
}

.dark {
  --background: #0b1220;
  --foreground: #e6f6fa;

  --card: #0f172a;
  --card-foreground: #e5e7eb;

  --popover: #0f172a;
  --popover-foreground: #e5e7eb;

  --primary: #0891b2;
  --primary-foreground: #ffffff;

  --secondary: #94a3b8;
  --secondary-foreground: #0b1220;

  --muted: #111827;
  --muted-foreground: #cbd5e1;

  --accent: #8b5cf6;
  --accent-foreground: #0b1220;

  --destructive: #ef4444;
  --destructive-foreground: #0b1220;

  --border: #1f2937;
  --input: #0f172a;
  --ring: #22d3ee;

  --sidebar: #0f172a;
  --sidebar-foreground: #e5e7eb;
  --sidebar-primary: #111827;
  --sidebar-primary-foreground: #e5e7eb;
  --sidebar-accent: #8b5cf6;
  --sidebar-accent-foreground: #0b1220;
  --sidebar-border: #1f2937;
  --sidebar-ring: #22d3ee;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

